<h1>Dutch Treat</h1>
<div>
    <img src="~/img/VanGogh.jpg" alt="Alternate Text" />
    <h3>Mug</h3>
    <ul class="product-props">
        <li>Price : $9.99</li>
        <li>Artist : Van Gogh</li>
        <li>Title : </li>
        <li>Description : Self-portrait</li>
    </ul>
    <button>Buy</button>
</div>