<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat :Hello</title>
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
   
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item"><a asp-controller="app" asp-action="index" class="nav-link">Home</a></li>
            <li class="nav-item"><a asp-controller="app" asp-action="contact" class="nav-link">Contact</a></li>
            <li class="nav-item"><a asp-controller="app" asp-action="about" class="nav-link">About</a></li>
            <li class="nav-item"><a asp-controller="app" asp-action="shop" class="nav-link">Shop</a></li>
        </ul>
    </nav>

    <section class="container">
        @RenderBody()
    </section>
    <footer class="container">
        Designed with love by Swagat
    </footer>
    @RenderSection("scripts", false)
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
</body>
</html>